**/Logs/
**/*.log
**/*.mp4
**/*.exe
**/*.dll
**/*.zip
**/.vs/
**/*.ilk
**/*.pdb
**/*.suo
**/[Bb]in/
**/[Oo]bj/
# התעלמות מכל קובץ שמסתיים ב- .o
*.o

# מומלץ גם להתעלם מכל קבצי הקומפילציה האחרים של STM32 שמופיעים אצלך
*.su
*.cyclo
*.elf
*.list
*.map

# התעלמות מכל התוכן של תיקיות Debug
**/Debug/

