<log4net>
	

	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="generic.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="file" />
	</root>
	
	<!--<appender name="dataLogger" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\\GenericLogs_" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy-MM-dd'.csv'"/>
		<staticLogFileName value="false" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
	</appender>
	<logger  additivity="false" name="dataLogger">
		<level value="ALL" />
		<appender-ref ref="dataLogger" />
	</logger>-->
	
</log4net>